.blocoContent img {
    border-radius: 0.75rem;
    height: 7rem;
}

.backBox {
    position: relative;
}

.backBox::before {
    content: "";
    background: #5AA0F2;
    opacity: 90%;

    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    
    z-index: 0;
}

.backBox img {
    position: relative;
}


