nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 1rem 4rem;
    
    
    background: #4F6EDD;

    box-shadow: 3px 3px 20px #404040;
}

#navbar {
    display: flex;
    align-items: center;
    list-style: none;
    color: white;

    cursor: pointer;
    
}

#navbar li {
    padding: 0rem 1rem;
    justify-content: left;
    font-weight: 500;
    transition: ease-in-out;
}

#mobile i {
    color: white;
}

