@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');

/* reset do navegador */
* {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;

}

a {
    text-decoration: none;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #303030;
}


/* ---- Estilo do bloco Home, que contém  o slogan e o banner ---- */
.container {
    padding: 2rem 1.5rem;
}
.blocoHome {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    padding-bottom: 2rem;
    
    height: 40rem;
    width: auto;

    
    
    background-image: url('./img/homepageBackground.webp');
    background-size: 300%;
    background-position: top ;
    background-repeat: no-repeat;


    border-radius: 0rem 0rem 2rem 2rem;
}


.blocoHome p {
    
    color: white;
    font-weight: 500;
    font-size: 2rem;
    
}


.blocoHome span {
    font-weight: 800;
    color: #5AA0F2;
    font-size: 1.75rem;
}


/* ---- Estilo de todos os blocos por itens ---- */
.blocoContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 0.90rem;
    font-weight: 400;

    
    
    gap: 1.75rem;
}


/* ----  Estilo de todos os títulos ---- */
.gTitles {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.titles {

    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}


/* ---- linha abaixo de cada título ---- */
.line {
    border-bottom: 2px solid #5AA0F2;
    width: 50vw;
    margin-bottom: 1rem
}

/* rodapé da página */
footer {
    margin-top: 6rem;
    background-color: black;
    color: white;

    padding: 5rem 0rem 1rem;

    row-gap: 1rem;
   
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

footer p {
    font-size: 0.8rem;
}

footer h3 {
    font-size: 1.5rem;
}

footer .icone {
    font-size: 3rem;
    color: white;
    margin: 1rem;
    
}


@media only screen and (min-width: 769px) {
    .gTitles {
        padding: 4rem 0rem;
    }


    .blocoContent {
    
        align-items: center;
        justify-content: center;
        flex-direction: row;
        
        margin-left: auto;
        margin-right: auto;

        max-width: 900px;
    }


    .blocoHome {
        
        background-size: cover;
        background-position: center -1rem;
        display: flex;
        justify-content: left;
        align-items: center;
        

    }


    .blocoHome p {
        font-size: 2rem;
        margin-left: 14vw;
        line-height: 1.9rem;
    }


    .blocoHome span {
        font-size: 2.1rem;
    }


    /*linha abaixo de cada título*/
    .line {
        width: 70vw;
        
    }
}

