@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');



* {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}


body {
    font-family: sans-serif;
    background: rgb(64,64,64);
    background: radial-gradient(circle, rgba(64,64,64,1) 12%, rgba(35,35,35,1) 33%, rgba(64,64,64,1) 52%, rgba(35,35,35,1) 71%, rgba(64,64,64,1) 92%);

    height: 600vh;
}

/*Estilo do bloco Home, que contém  o slogan e o banner*/
.blocoHome {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2rem;
    
    height: 60vh;
    width: auto;

    background-color: black;
    background-image: url('./img/homepageBackground.webp');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    border-radius: 0rem 0rem 2rem 2rem;
}

.blocoHome p {
    color: white;
    font-weight: 500;
    font-size: 1.75rem;
    margin-left: 14vw;
    line-height: 1.9rem;
}

.blocoHome span {
    font-weight: 800;
    color: #4F6EDD;
}


/*Estilo de todos os blocos por itens*/
.blocoContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1.5rem;
    width: auto;

    color: white;
    font-size: 0.90rem;
    font-weight: 400;
    text-align: left;
    gap: 1.75rem;
}

/* Estilo de todos os títulos*/
.gTitles {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titles {

    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/*linha abaixo de cada título*/
.line {
    border-bottom: 2px solid #4F6EDD;
    width: 80vw;
    margin-bottom: 1rem;
}


#seguranca img {
    height: 8rem;


}



@media only screen and (min-width: 769px) {
    .gTitles {
        padding: 4rem 0rem;
    }

    .blocoContent {
        padding: 2rem 4rem;

        max-width: 960px;
        margin-left: auto;
        margin-right: auto;

    }

    .blocoHome {
        display: flex;
        justify-content: left;
        align-items: center;
       
        
    }

    /*linha abaixo de cada título*/
    .line {
        width: 50vw;
    }

}